<div class="pb-100">
    <app-nav-bar> </app-nav-bar>
</div>

<section class="products-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="products-details-image">
                            <a href="assets/img/products-img1.jpg" data-fancybox="gallery">
                                <img src="assets/img/products-img1.jpg" alt="image">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="products-details-desc">
                    <h3>Xlsx Syltherine</h3>
                    <div class="price">
                        <span class="new-price">Country : </span>
                        <span class="old-price">Slovenia</span>
                    </div>

                    <div class="products-meta">
                        <span><span class="spanlimit">Kills</span> <span class="sku">12560</span></span>
                        <span><span class="spanlimit">KO</span><span class="sku">28658</span></span>
                        <span><span class="spanlimit">W/O</span> <span class="sku">52%</span></span>
                        <span><span class="spanlimit">Wins</span><span class="sku">2658</span></span>
                    </div>

                    <p class="pt-2">Xlsx Syltherine who travels from his homeland in Spain to the Egyptian desert in
                        search of a
                        treasure buried near the Pyramids. Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
                        tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt et.</p>

                    <div class="products-add-to-cart">

                        <button type="submit" class="default-btn">Edit</button>
                    </div>

                </div>
            </div>
            <div class="container ptb-100">
                <div class="section-title">
                    <h2>My Orders</h2>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="products-details-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                    data-bs-target="#description" type="button" role="tab" aria-controls="description"
                                    aria-selected="true">Accepted</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews"
                                    type="button" role="tab" aria-controls="reviews" aria-selected="true">Pending
                                </button>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel">
                                <div class="products-review-comments">
                                    <div class="user-review">
                                        <img src="assets/img/user1.jpg" alt="image">
                                        <div class="review-rating">
                                            <span class="d-inline-block">James Anderson</span>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="box1">
                                                <span class="d-block sub-comment">Country</span>
                                                <p>India</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">KDA</span>
                                                <p>4.05</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Kills</span>
                                                <p>25568</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Platform</span>
                                                <p>PC</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-review">
                                        <img src="assets/img/user1.jpg" alt="image">
                                        <div class="review-rating">
                                            <span class="d-inline-block">James Anderson</span>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="box1">
                                                <span class="d-block sub-comment">Country</span>
                                                <p>India</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">KDA</span>
                                                <p>4.05</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Kills</span>
                                                <p>25568</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Platform</span>
                                                <p>PC</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-review">
                                        <img src="assets/img/user1.jpg" alt="image">
                                        <div class="review-rating">
                                            <span class="d-inline-block">James Anderson</span>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="box1">
                                                <span class="d-block sub-comment">Country</span>
                                                <p>India</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">KDA</span>
                                                <p>4.05</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Kills</span>
                                                <p>25568</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Platform</span>
                                                <p>PC</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-review">
                                        <img src="assets/img/user1.jpg" alt="image">
                                        <div class="review-rating">
                                            <span class="d-inline-block">James Anderson</span>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="box1">
                                                <span class="d-block sub-comment">Country</span>
                                                <p>India</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">KDA</span>
                                                <p>4.05</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Kills</span>
                                                <p>25568</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Platform</span>
                                                <p>PC</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel">

                                <div class="products-review-comments">
                                    <div class="user-review">
                                        <img src="assets/img/user1.jpg" alt="image">
                                        <div class="review-rating">
                                            <span class="d-inline-block">James Anderson</span>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="box1">
                                                <span class="d-block sub-comment">Country</span>
                                                <p>India</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">KDA</span>
                                                <p>4.05</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Kills</span>
                                                <p>25568</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Platform</span>
                                                <p>PC</p>
                                            </div>
                                            <div class="px-2">
                                                <button type="submit" class="default-btn">Accept</button>

                                            </div>
                                            <div class="">
                                                <button type="submit" class="default-btn">Reject</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-review">
                                        <img src="assets/img/user1.jpg" alt="image">
                                        <div class="review-rating">
                                            <span class="d-inline-block">James Anderson</span>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="box1">
                                                <span class="d-block sub-comment">Country</span>
                                                <p>India</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">KDA</span>
                                                <p>4.05</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Kills</span>
                                                <p>25568</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Platform</span>
                                                <p>PC</p>
                                            </div>
                                            <div class="px-2">
                                                <button type="submit" class="default-btn">Accept</button>

                                            </div>
                                            <div class="">
                                                <button type="submit" class="default-btn">Reject</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-review">
                                        <img src="assets/img/user1.jpg" alt="image">
                                        <div class="review-rating">
                                            <span class="d-inline-block">James Anderson</span>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="box1">
                                                <span class="d-block sub-comment">Country</span>
                                                <p>India</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">KDA</span>
                                                <p>4.05</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Kills</span>
                                                <p>25568</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Platform</span>
                                                <p>PC</p>
                                            </div>
                                            <div class="px-2">
                                                <button type="submit" class="default-btn">Accept</button>

                                            </div>
                                            <div class="">
                                                <button type="submit" class="default-btn">Reject</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-review">
                                        <img src="assets/img/user1.jpg" alt="image">
                                        <div class="review-rating">
                                            <span class="d-inline-block">James Anderson</span>
                                        </div>
                                        <div class="d-flex ">
                                            <div class="box1">
                                                <span class="d-block sub-comment">Country</span>
                                                <p>India</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">KDA</span>
                                                <p>4.05</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Kills</span>
                                                <p>25568</p>
                                            </div>
                                            <div class="box1">
                                                <span class="d-block sub-comment">Platform</span>
                                                <p>PC</p>
                                            </div>
                                            <div class="px-2">
                                                <button type="submit" class="default-btn">Accept</button>

                                            </div>
                                            <div class="">
                                                <button type="submit" class="default-btn">Reject</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="products-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Statistics</h2>
        </div>
        <div class="row">
            <div class="pt-5 pb-5">
                <div class="container">
                    <div class="row align-items-center ">
                        <h1 class="">STATS</h1>
                        <div class="col-lg-12 col-md-12 border ">
                            <div class="contact-info">
                                <canvas baseChart [data]="barChartData"
                                 [options]="barChartOptions"
                                    [plugins]="barChartPlugins" 
                                    [legend]="barChartLegend"
                                     [type]="'bar'"
                                     >
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area">
    <app-new-footer></app-new-footer>
</footer>