.bg{
    background-color: transparent;
}
.border{
    border-color: orangered !important;
}
.default-btn{
    border-radius: 12px !important;
    text-transform:capitalize !important;
    // width: 150px !important;
    font-size: 14px;
}
.bg1{
    background-color: 
    #3d3d3d;
}