<div class="container">
    <ng-container *ngIf="subUsers$ | async as subUsers" >
        <div class="row g-6" >
            <div *ngFor="let user of subUsers" class="col-5 m-5 card text-bg-dark">
                <div class="card-body">
                  <a class="btn btn-success m-5" [routerLink]="['/admin','view-subscriber-profile',user._id]">View Profile</a>
                    <h5 class="card-title">NAME:&nbsp;{{user.username}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">GAMER ID:&nbsp;{{user.gamerID}}</h6>
                    <p class="card-text">KD:&nbsp;{{user.kd}}</p>
                    <p class="card-text">KILLS:&nbsp;{{user.kills}}</p>
                    <p class="card-text">PLATFORM:&nbsp;{{user.platform}}</p>
                    <!-- <a (click)="activateUser(user._id)" class="btn btn-primary">Activate</a> -->
                </div>
            </div>
        </div>
    </ng-container>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>
</div>