<!-- <df-messenger 
intent="WELCOME" 
chat-title="Help-desk" 
agent-id="3263363b-42de-4acd-aa6f-973f811376b4"
language-code="en"
chat-icon="../../../assets/img/circle gry black gredient.png"


></df-messenger> -->

<div class="container  pb-5" style="padding-top: 100px;">
    <div class="footer-content">
        <div class="logo">
            <a routerLink="/" class="d-inline-block"><img class="img1" src="assets/img/circle gry black gredient.png" alt="image"></a>
            <ul class="footer-menu">
                <li class="nav-item"><a class="nav-link" routerLink="/">Terms of Usesss</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/">Privacy policy</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/">Career</a></li>
                <!-- <li class="nav-item"><a class="nav-link" routerLink="/job">Job</a></li> -->
                <li class="nav-item"><a class="nav-link" routerLink="/">CCPA</a></li>
            </ul>
            <ul class="footer-menu">
                <li class="nav-item"><a href=# class='fab fa-facebook fa-lg iconSocial'></a></li>
                <li class="nav-item"><a href=# class='fab fa-instagram fa-lg iconSocial'></a></li>
                <li class="nav-item"><a href=# class='fab fa-twitter fa-lg iconSocial'></a></li>
                <li class="nav-item"><a href=# class='fab fa-discord fa-lg iconSocial'></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
          <h6 class="text-center"> 2022. GGERA. All rights reserved.</h6>

      
        </div>
    </div>
</div>