<div class="stepper">
    <h1 class="heading">Your Country</h1>
    <div class="content">
        <ul>
            <li>1. You can verify instantly via your gaming platform or manually with some additional details</li>
            <li>2. We will very that you are the account owner and check your tracker / API statistics</li>
            <li>3. If your stats meet the requirement, you will automatically get access to the order dashboard and knowledge base</li>
            <li>Good Luck!</li>
        </ul>
        <h2>Select the game in which you have the highest KD</h2>
        
    </div>
</div>