<div class="stepper">
    <h1 class="heading">Verification Process</h1>
    <div class="content">
        <!-- <ul>
            <li>We will manually verify your request, once you have send us your game tracker</li>
            <li>If your stats meet the requirements then you will be invited for a skill test</li>
            <li>Upon passing the skills test, you will automatically gain access to the
                order dashboard and knowledge base. Then you will be given a tour by a GGera
                representative and shown how to use the platform</li>
            <li>Good Luck!</li>
        </ul>
        <h2>Select the game in which you have the highest KD</h2> -->
        <p>If your stats meet the requirements then you will be invited for a skill test</p>
    </div>
</div>