<div class="pb-100">
    <app-nav-bar> </app-nav-bar>
</div>

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <img src="assets/img/team-member1.jpg" class="player-image" alt="image">
            <br>
            <h1 title="Player Profile">Player Profile</h1>
            <span class="sub-title">Sarah3s</span>
        </div>
    </div>
</section>

<footer class="footer-area">
    <app-new-footer></app-new-footer>
</footer>