<div class="pb-100">
    <app-nav-bar> </app-nav-bar>
</div>

<section class="cart-area ptb-100">

   
    <div class="container">
        <form>
            <div class="cart-table table-responsive">
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">KDA </th>
                            <th scope="col">Kills </th>
                            <th scope="col">Platform</th>
                            <th scope="col">Country</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor=" let subscriber of subscribers">
                            <td class="product-thumbnail">
                                <a routerLink="/single-products">
                                    <img src={{subscriber.profile_pic}} alt="item">
                                </a>
                            </td>

                            <td class="product-name">
                                <a routerLink="/single-products">{{subscriber.username}}</a>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">50</span>
                            </td>
                            <td class="product-price">
                                <span class="unit-amount">500</span>
                            </td>
                            <td class="product-price">
                                <span class="unit-amount">pc</span>
                            </td>

                            <td class="product-subtotal">
                                <span class="subtotal-amount">India</span>
                                <a routerLink="/cart" class="remove"><button type="button" class="btn btn-success">Accept</button>&nbsp;
                                    <button type="button" class="btn btn-danger">Reject</button>
                                </a>
                            </td>
                        </tr>
                   

                    </tbody>
                </table>
            </div>

            

        </form>
    </div>
</section>

<footer class="footer-area">
    <app-new-footer></app-new-footer>
</footer>