<app-nav-bar></app-nav-bar>


<div class="container ptb-100">
    <div class="section-title ptb-100">
        <h2>Pro-Players</h2>
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="products-details-tabs">
            

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel">
                    <div class="products-review-comments">
                        <div class="user-review" *ngFor="let privateUser of privateUsers" (click)="singlePro(privateUser._id)" style="cursor:pointer ;">
                            <img src={{privateUser.profile_pic}} alt="image">
                            <div class="review-rating">
                                <span class="d-inline-block" style="color: red;">{{privateUser.username}}</span>
                            </div>
                            <div class="d-flex ">
                                <div class="box1">
                                    <span class="d-block sub-comment">Country</span>
                                    <p>{{privateUser.country}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">KDA</span>
                                    <p>{{privateUser.kd}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Kills</span>
                                    <p>{{privateUser.kills}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Platform</span>
                                    <p>{{privateUser.platform}}</p>
                                </div>
                            </div>
                        </div>
                 
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<app-new-footer></app-new-footer>