<app-nav-bar></app-nav-bar>


<div class="container ptb-100">
    <div class="section-title ptb-100">
        <h2>Pro-Players</h2>
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="products-details-tabs">
            

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel">
                    <div class="products-review-comments">
                        <div class="user-review">
                            <img src="assets/img/user1.jpg" alt="image">
                            <div class="review-rating">
                                <span class="d-inline-block">James Anderson</span>
                            </div>
                            <div class="d-flex ">
                                <div class="box1">
                                    <span class="d-block sub-comment">Country</span>
                                    <p>India</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">KDA</span>
                                    <p>4.05</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Kills</span>
                                    <p>25568</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Platform</span>
                                    <p>PC</p>
                                </div>
                            </div>
                        </div>
                        <div class="user-review">
                            <img src="assets/img/user1.jpg" alt="image">
                            <div class="review-rating">
                                <span class="d-inline-block">James Anderson</span>
                            </div>
                            <div class="d-flex ">
                                <div class="box1">
                                    <span class="d-block sub-comment">Country</span>
                                    <p>India</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">KDA</span>
                                    <p>4.05</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Kills</span>
                                    <p>25568</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Platform</span>
                                    <p>PC</p>
                                </div>
                            </div>
                        </div>
                        <div class="user-review">
                            <img src="assets/img/user1.jpg" alt="image">
                            <div class="review-rating">
                                <span class="d-inline-block">James Anderson</span>
                            </div>
                            <div class="d-flex ">
                                <div class="box1">
                                    <span class="d-block sub-comment">Country</span>
                                    <p>India</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">KDA</span>
                                    <p>4.05</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Kills</span>
                                    <p>25568</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Platform</span>
                                    <p>PC</p>
                                </div>
                            </div>
                        </div>
                        <div class="user-review">
                            <img src="assets/img/user1.jpg" alt="image">
                            <div class="review-rating">
                                <span class="d-inline-block">James Anderson</span>
                            </div>
                            <div class="d-flex ">
                                <div class="box1">
                                    <span class="d-block sub-comment">Country</span>
                                    <p>India</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">KDA</span>
                                    <p>4.05</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Kills</span>
                                    <p>25568</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Platform</span>
                                    <p>PC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<app-new-footer></app-new-footer>