.single-products-item {
    margin-bottom: 30px;
    text-align: center;
    position: relative;

    .products-image {
        position: relative;

        .bg-image {
            img {
                width: auto !important;
                display: inline-block !important;
            }
        }
        .main-image {
            position: absolute;
            right: 0;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            margin: 0 auto;
            width: auto !important;
            display: inline-block !important;
        }
        .add-to-cart-btn {
            text-transform: uppercase;
            border: none;
            transition: var(--transition);
            display: inline-block;
            background-color: var(--mainColor);
            color: var(--whiteColor);
            position: absolute;
            z-index: 1;
            overflow: hidden;
            padding: 12px 40px 7px 40px;
            bottom: 15px;
            left: 0;
            display: block;
            right: 0;
            opacity: 0;
            visibility: hidden;
            z-index: 2;
            margin: {
                left: 15px;
                right: 15px;
            };
            font: {
                size: 20px;
                weight: 400;
            };
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 0;
                z-index: -1;
                background-color: var(--whiteColor);
                transition: var(--transition);
            }
            &:hover {
                color: var(--mainColor);

                &::before {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .sale {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        text-transform: uppercase;
        font-weight: 600;
        background-color: green;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 58px;
        border-radius: 50%;
    }
    .hot {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
        text-transform: uppercase;
        font-weight: 600;
        background-color: var(--mainColor);
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 58px;
        border-radius: 50%;
    }
    .products-content {
        h3 {
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0;
            font: {
                size: 25px;
                weight: 600;
            };
        }
        .price {
            display: block;
            color: var(--mainColor);
            margin-top: 3px;
            font: {
                size: 20px;
                weight: 600;
            };
        }
    }
    &:hover {
        .products-image {
            .add-to-cart-btn {
                bottom: 30px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .single-products-item {
        .products-image {
            .bg-image {
                img {
                    width: 100% !important;
                }
            }
            .add-to-cart-btn {
                bottom: 30px;
                opacity: 1;
                visibility: visible;
            }
        }
    }

}