.faq-accordion-tab {
    .tabs {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 60px;
        text-align: center;

        li {
            margin: {
                left: 10px;
                right: 10px;
            };
            a {
                color: var(--whiteColor);
                text-decoration: none;
                border-radius: 5px;
                padding: 20px;
                display: block;
                text-transform: uppercase;
                background-color: #22152c;
                letter-spacing: 1px;
                font: {
                    size: 19px;
                    weight: 600;
                };
                i {
                    font: {
                        size: 30px;
                        weight: 400;
                    };
                }
                span {
                    display: block;
                    margin-top: 8px;
                }
                &:hover {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
            &.current {
                a {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
        }
    }
}
.faq-item {
    margin-bottom: 30px;

    h3 {
        margin-bottom: 12px;
        text-transform: uppercase;
        font: {
            size: 24px;
            weight: 700;
        };
    }
    p {
        color: #c2bcc6;
    }
}
.tab {
    .tabs-item {
        display: none;
        
        &:first-child {
            display: block;
        }
    }
}

@media only screen and (max-width: 767px) {

    .faq-accordion-tab {
        .tabs {
            margin: {
                bottom: 40px;
                top: -15px;
            };
            li {
                margin-top: 15px;

                a {
                    padding: 12px 10px 10px;
                    letter-spacing: .5px;
                    font-size: 14px;
                }
            }
        }
    }
    .faq-item {
        h3 {
            font-size: 20px;
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .faq-accordion-tab {
        .tabs {
            margin-bottom: 30px;

            li {
                margin-bottom: 20px;
            }
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}
@media only screen and (min-width: 1550px) {

}