<div class="pb-100">
    <app-nav-bar> </app-nav-bar>
</div>
<div class="container pt-5">
    <h1 class="text-center" style="font-weight: 800">Your current rank pro</h1>
    <p class="text-center pt-3" style="font-weight: 400; font-size: 20px">
        when you get the <span class="sku">PRO rank</span> , all you need to do
        is keep you AR, and overall>=4.8<br />
        <!-- <4.8 can drop you from pro to semi again <br />
        For <span class="sku">VIP rank</span> ,you need to keep your AR,rating
        >=4.9,and 60 hours with regular in <br />
        the past month, or 100+ hours within the last 2 months -->
    </p>
</div>

<div class="container pt-5">
    <!-- <h4 >Your stats</h4> -->
    <div class="d-flex justify-content-center">
        
        <div class="card bg-black border col-lg-10 p-5">
            <h2 style="font-weight: 800;">AR for the last week</h2>
            <p style="font-size: 20px;">Acceptance rate (AR) of at least 70% for pro and 80% for VIP</p>
            <h5 class="pt-5">past period AR  <span class="color"> (jun 8-jul 8)</span></h5>
            <div class="d-flex flex-row bd-highlight mb-3">
                <p>
                   <span class="zero">0</span>  requests 
                    total
                </p>
                <p>
                    <span class="zero">0</span> confirmed 
                    orders
                </p>
                <p><span class="zero">=</span><span class="zero green">0%</span> AR</p>
            </div>
            <h5>Current period  AR <span class="color"> (jun 8-jul 8)</span></h5>
            <div class="d-flex flex-row bd-highlight mb-3">
                <p>
                   <span class="zero">0</span>  requests 
                    total
                </p>
                <p>
                    <span class="zero">0</span> confirmed 
                    orders
                </p>
                <p><span class="zero">=</span><span class="zero color">0%</span> AR</p>
            </div>

            <ul>
                <li>
                    The acceptance rate is a percentage of user requests that you have confirmed
                </li>
                <li>
                    Your 0% will not be affected,if a client cancel the session
                </li>
                <li>
                    Your 0% will be affected if you accept an order,and then cancel it from your side with 0
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-center pt-5">
        
        <div class="card bg-black border col-lg-10 p-5">
            <h2 style="font-weight: 800;">Hours with regulars for the last 4 weeks
            </h2>
            <p style="font-size: 20px;">10 + hours total for PRO and 120 + hours total for VIP with your regular customers within the last 4 weeks.
            </p>
           
<!-- table  -->

<table class="table table-bordered">
    <thead>
        <tr class="border2 text-white">
            <!-- <th scope="col">Product</th> -->
            <th scope="col">past period(jun 8-jul 8)</th>
            <th scope="col">current period (jun 8-jul 8)</th>
          
        </tr>
    </thead>

    <tbody>
        <tr class="border2">
            <td class="product-name text-white">
                <span class="zero color">40.5</span> hours total
            </td>

            <td class="product-price text-white">
                <span class="zero green">19.7</span> hours total
            </td>

          
        </tr>
      
     

    </tbody>
</table>


<!-- table ends here  -->


      

            <ul>
                <li>
                    A regular customer is a client that you have played with al least once before
                </li>
             
            </ul>
        </div>
    </div>



    <div class="d-flex justify-content-center pt-5 pb-5">
        
        <div class="card bg-black border col-lg-10 p-5">
            <h2 style="font-weight: 800;">Achievements for the last 4 weeks
            </h2>
            <p style="font-size: 20px;">0 for pro(of each type) and 0 for VIP (of each type)
            </p>
           
<!-- table  -->

<table class="table table-bordered pt-3">
    <thead>
        <tr class="border2 text-white">
            <!-- <th scope="col">Product</th> -->
            <th scope="col">Achievements</th>
            <th scope="col">Past period</th>
            <th scope="col">Current</th>
          
        </tr>
    </thead>

    <tbody>
        <!-- <tr class="border2">
            <td class="product-name text-white">
                i learned somthing new
            </td>

            <td class="product-price text-white">
                0
            </td>
            <td class="product-price text-white">
                0
            </td>

          
        </tr> -->
        <tr class="border2">
            <td class="product-name text-white">
                i learned somthing new
            </td>

            <td class="product-price text-white">
                0
            </td>
            <td class="product-price text-white">
                0
            </td>

          
        </tr>
        <tr class="border2">
            <td class="product-name text-white">
                session was fun 
            </td>

            <td class="product-price text-white">
                0
            </td>
            <td class="product-price text-white">
                0
            </td>

          
        </tr>
        <tr class="border2">
            <td class="product-name text-white">
                pro didn't run away from me in the game
            </td>

            <td class="product-price text-white">
                0
            </td>
            <td class="product-price text-white">
                0
            </td>

          
        </tr>
        <tr class="border2">
            <td class="product-name text-white">
                ping was okey (less than 150)
            </td>

            <td class="product-price text-white">
                0
            </td>
            <td class="product-price text-white">
                0
            </td>

          
        </tr>
        <tr class="border2">
            <td class="product-name text-white">
                pro was in a good mood
            </td>

            <td class="product-price text-white">
                0
            </td>
            <td class="product-price text-white">
                0
            </td>

          
        </tr>
      
     

    </tbody>
</table>


<!-- table ends here  -->


      

            <ul>
                <li>
                    are granted by the clients when they have a feed back
                </li>
             
            </ul>
        </div>
    </div>


    <div class="d-flex justify-content-center pt-5">
        
        <div class="card bg-black border col-lg-10 p-5">
            <h2 style="font-weight: 800;">Rating for the last 100 hours
            </h2>
            <p style="font-size: 20px;">To become a PRO you need 4.8 rating,4.9 to become a VIP

            </p>
           
<!-- table  -->

<table class="table table-bordered">
    <thead>
        <tr class="border2 text-white">
            <!-- <th scope="col">Product</th> -->
            <th scope="col">Prev Monday</th>
            <th scope="col">Curret rating</th>
          
        </tr>
    </thead>

    <tbody>
        <tr class="border2">
            <td class="product-name text-white">
                <span class="zero green">5</span> Average total
            </td>

            <td class="product-price text-white">
                <span class="zero color">5</span> Average total
            </td>

          
        </tr>
      
     

    </tbody>
</table>


<!-- table ends here  -->


      

            <ul>
                <li>
                    A regular customer is a client that you have played with al least once before
                </li>
                <li>
                    average rating is calculated based on the last 100 hours played
                </li>
             
            </ul>
        </div>
    </div>
</div>

<footer class="footer-area">
    <app-new-footer></app-new-footer>
</footer>
