.sku{
    color: rgb(248, 147, 46);
    font-weight: 600;
}
.border{
    border-color: #ff6e30 !important;

}
.zero{
    font-size: 80px;
    font-weight: 600;
}
.color{
    color: #ff6e30;
}
.green{
    color: greenyellow !important;
}
.border2{
    border-color: transparent !important;
}
.product-name{
    color: #ff6e30 !important;
}