<app-nav-bar></app-nav-bar>


<div class="container ptb-100">
    <div class="section-title pt-5">
        <h2>Pro-Players</h2>
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="products-details-tabs">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel">
                    <div class="products-review-comments">

                        <!-- ? Search Bar  -->
                        <div class="row ptb-100">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <div class="select-box">
                                                    <select [(ngModel)]='query1'>
                                                        <option value="All Pros">Pro & VIP</option>
                                                        <option value="VIP">VIP</option>
                                                        <option value="Non">Non VIP</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <div class="select-box">
                                                    <select [(ngModel)]='query2'>
                                                        <option value="All" disabled selected>All regions</option>
                                                        <option value='{{privateUser.country}}'
                                                            *ngFor="let privateUser of privateUsers">
                                                            {{privateUser.country}}</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <div class="select-box">
                                                    <select [(ngModel)]='query3'>
                                                        <option value="Any"> Kills</option>
                                                        <option value="more10"> >10 </option>
                                                        <option value="more100"> >100</option>
                                                        <option value="more1000"> >1000</option>


                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-6 col-md-6">
                                            <div class="form-group">
                                                <div class="select-box">
                                                    <select [(ngModel)]='query4'>
                                                        <option value="Any"> KD</option>
                                                        <option value="1">>1</option>
                                                        <option value="2">>2</option>
                                                        <option value="3">>3</option>
                                                        <option value="4">>4</option>


                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <div class="select-box">
                                                    <input type="text" class="form-control" placeholder="Search"
                                                        [(ngModel)]="query5">
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 pt-2 d-flex checkboxes">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="ship-different-address">
                                        <label class="form-check-label" for="ship-different-address">Good for
                                            coaching</label>
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="" id=""
                                            [(ngModel)]="checkboxFilter.ps" (ngModelChange)="filterChange()">
                                        <label for="">PS</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="" id=""
                                            [(ngModel)]="checkboxFilter.xbox" (ngModelChange)="filterChange()">
                                        <label for="">XBox</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="" id=""
                                            [(ngModel)]="checkboxFilter.win" (ngModelChange)="filterChange()">
                                        <label for="">Win</label>
                                    </div>

                                </div>

                            </div>
                        </div>




                        <!-- ?Listing  -->
                        <div class="user-review" *ngFor="let privateUser of privateUsers  |searchFilter: query5"
                            style="cursor:pointer ;" data-bs-toggle="modal" data-bs-target="#userID"
                            (click)="selectedItem = privateUser">
                            <img src={{privateUser.profile_pic}} alt="image">
                            <div class="review-rating">
                                <span class="d-inline-block" style="color: red;">{{privateUser.username}}</span>
                            </div>
                            <div class="d-flex ">
                                <div class="box1">
                                    <span class="d-block sub-comment">Country</span>
                                    <p>{{privateUser.country}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">KDA</span>
                                    <p>{{privateUser.kd}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Kills</span>
                                    <p>{{privateUser.kills}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Platform</span>
                                    <p>{{privateUser.platform}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-new-footer></app-new-footer>


<!-- ?Modal  -->

<div class="modal fade" id="userID" tabindex="-1" role="dialog" aria-labelledby="userIDLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Modal body with image -->
            <div class="modal-body">
                <section class="page-title-area page-title-bg1">
                    <div class="container">
                        <div class="page-title-content">
                            <img src="{{selectedItem.profile_pic}}" style="width:400px ;" alt="image">
                            <br>
                            <h1>{{selectedItem.username}}</h1>
                        </div>
                    </div>
                </section>

                <section class="team-details-area ptb-100">
                    <div class="container">
                        <div class="team-details-desc">
                            <span class="sub-title">Since 2020</span>
                            <h3>About Me</h3>
                            <p>{{selectedItem.about}}</p>

                            <ul class="team-meta">
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-medal"></i>
                                    </div>
                                    <span>{{selectedItem.wins}}</span>
                                    Wins
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="flaticon-fall"></i>
                                    </div>
                                    <span>{{selectedItem.kills}}</span>
                                    Kills
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="flaticon-game"></i>
                                    </div>
                                    <span>{{selectedItem.ko}}</span>
                                    KO
                                </li>

                                <li>
                                    <div class="icon">
                                        <i class="flaticon-teamwork"></i>
                                    </div>
                                    <span>{{selectedItem.rank}}</span>
                                    Highest rank
                                </li>
                            </ul>

                        </div>
                        <div class="  ptb-100">
                            <a (click)="coachReq(selectedItem.email)" *ngIf="_auth.isNormal()" class="default-btn p-2 "
                                style="cursor: pointer;">Ask for Coaching</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>