<div class="navbar-area">
    <div class="zinble-responsive-nav">
        <div class="container">
            <div class="zinble-responsive-menu">
                <div class="logo">
                    <a routerLink="/">
                        <img style="width:100px ;" src="assets/img/circle gry black gredient.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="zinble-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <img style="width:100px ;" src="assets/img/circle gry black gredient.png" alt="logo">
                </a>

                <ul class="navbar-nav">
                    <li class="nav-item" *ngIf="_auth.isNormal()"><a routerLink="/" class="nav-link">Home </a></li>
                    <li class="nav-item" *ngIf="!_auth.isNormal()"><a routerLink="/pro-home" class="nav-link">Dashboard
                        </a></li>
                    <li class="nav-item"><a routerLink="/subscriptions" class="nav-link"
                            *ngIf="_auth.isNormal()">Subscriptions </a> </li>
                    <li class="nav-item" *ngIf="!_auth.isNormal()"><a routerLink="/pro-requests" class="nav-link">Requests
                        </a></li>
                    <li class="nav-item"><a routerLink="/tour" class="nav-link">Tournaments </a>
                    </li>
                </ul>

                <div class="collapse navbar-collapse mean-menu">
                    <!-- <ul class="navbar-nav">
                        <li class="nav-item" *ngIf="_auth.isNormal()"><a routerLink="/" class="nav-link">Home </a></li>
                        <li class="nav-item" *ngIf="!_auth.isNormal()"><a routerLink="/pro-home"
                                class="nav-link">Dashboard </a></li>
                        <li class="nav-item"><a routerLink="/subscriptions" class="nav-link"
                                *ngIf="_auth.isNormal()">Subscriptions </a> </li>

                        <li class="nav-item" *ngIf="_auth.isPro()"><a class="nav-link">Pro+ <i
                                    class="flaticon-down-arrow"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/join-party" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Parties</a>
                                </li>

                                <li class="nav-item"><a routerLink="/coachings" class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Coachings</a></li>
                                <li class="nav-item"><a routerLink="/tournaments" class="nav-link"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Tournamets</a></li>
                            </ul>
                        </li>

                        <li class="nav-item" *ngIf="!_auth.isNormal()"><a routerLink="/pro-home"
                                class="nav-link">Requests </a></li>
                        <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Tournaments </a>
                        </li>

                        <li class="nav-item"><a class="nav-link" *ngIf="_auth.isNormal()">Games <i
                                    class="flaticon-down-arrow"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">COD</a></li>

                                <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Fortnite</a>
                                </li>

                                <li class="nav-item"><a class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Valorant</a></li>

                            </ul>
                        </li>

                        <li class="nav-item" ><a href="javascript:void(0)" class="nav-link">Players </a>
                        </li>

                        <li class="nav-item" *ngIf="_auth.isSuperAdmin()"><a class="nav-link">Admin <i
                                    class="flaticon-down-arrow"></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/users" class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Users</a>
                                </li>

                                <li class="nav-item"><a routerLink="/underconstruction" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Earnings</a>
                                </li>

                                <li class="nav-item"><a routerLink="/games" class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Games</a>
                                </li>
                            </ul>
                        </li>

                    </ul> -->
                    <ul class="navbar-nav">
                        <li class="nav-item" *ngIf="!_auth.isNormal()">
                            <button class="button-23" role="button"  (click)="account()">$0</button>

                        </li>
                   
                    </ul>
                    <div class="others-option d-flex align-items-center">
                        <!-- <div class="option-item">
                            <div class="search-box">
                                <i class="flaticon-search-1"></i>
                            </div>
                        </div> -->

                        <div class="option-item">
                            <div class="side-menu-btn">
                                <i class="flaticon-null-2" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-option">
                        <div class="option-item">
                            <div class="search-box">
                                <i class="flaticon-search-1"></i>
                            </div>
                        </div>

                        <div class="option-item">
                            <div class="side-menu-btn">
                                <i class="flaticon-null-2" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal"><i class='bx bx-x'></i></button>

            <div class="modal-body flex align-items-center">
                <div class="logo ptb-100">
                    <h2>
                        <h2 class="pb-2" *ngIf="!user">Anonymous</h2>
                        <h2 class="pb-2" *ngIf="user?.username != undefined">{{user?.username}}</h2>

                    </h2>
                    <div class="lang-switcher">
                        <select>
                            <option>Online</option>
                            <option>Booked</option>
                            <option>Busy</option>
                            <option>Offline</option>
                        </select>
                    </div>

                </div>



                <button data-bs-dismiss="modal" class="button-23" role="button" (click)="account()"> Balance - $0</button>


                <div class="  pt-5 ">

                    <a class="close" data-bs-dismiss="modal" style="cursor: pointer;"
                        (click)="myOrders()"> My Orders<br></a>
                    <a class="close" data-bs-dismiss="modal" style="cursor: pointer;" (click)="Profile()">Edit
                        Profile<br></a>
                    <a class="close" data-bs-dismiss="modal" style="cursor: pointer;" (click)="PreParty()"
                        *ngIf="_auth.isPro()">Premade
                        Parties<br></a>
                    <a class="close" data-bs-dismiss="modal" style="cursor: pointer;" (click)="Profile()"
                        *ngIf="_auth.isPro()">Rank<br></a>
                    <!-- <a class="close" data-bs-dismiss="modal" style="cursor: pointer;" *ngIf="_auth.isNormal()">Settings<br></a> -->
                    <a class="close" data-bs-dismiss="modal" style="cursor: pointer;"
                        *ngIf="_auth.isNormal()">Support<br></a>
                    <a class="close" data-bs-dismiss="modal" style="cursor: pointer;" *ngIf="_auth.isNormal()">Special
                        Events<br></a>
                    <a class="close" data-bs-dismiss="modal" style="cursor: pointer;" (click)="referals()" *ngIf="_auth.isPro()">Referrals<br></a>
                    <a class="close" data-bs-dismiss="modal" style="cursor: pointer;" (click)="Logout()">Logout<br></a>

                </div>
                <!-- <ul class="social-list ">
                    <li><span>Follow Us On:</span></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                    <li><a href="#" target="_blank"><i class='bx bxl-twitch'></i></a></li>
                </ul> -->

            </div>
        </div>
    </div>
</div>

<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>

            <div class="search-overlay-close">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>

            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class="flaticon-search-1"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>