<!-- <div class="navbar-area border-nav">
    <div class="zinble-responsive-nav">
        <div class="container">
            <div class="zinble-responsive-menu">
                <div class="logo">
                    <a routerLink="/">
                        <img title="logo" style="width:100px ;" src="assets/img/circle gry black gredient.png"
                            alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div> -->

<nav class="navbar fixed-top navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/admin">
            <img title="logo" class="logo" src="assets/img/circle gry black gredient.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-bg-dark" routerLinkActive="active" aria-current="page" routerLink="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bg-dark" routerLinkActive="active" routerLink="/admin/pre-request">Pro Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bg-dark" routerLinkActive="active" routerLink="/admin/withdraw-request">Withdraw Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bg-dark" routerLinkActive="active" routerLink="/admin/subscriber-list">Subscriber Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bg-dark" routerLinkActive="active" routerLink="/admin/pro-list">Pro Users</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li> -->
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a (click)="logout()" class="cursor-pointer nav-link text-bg-dark">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>