.borColor {
    border-style: solid;
    border-color: rgb(238, 63, 0);
}

.supportBtn {
background: yellow;
width:25rem;
height:5rem;
font-size: 50px;
}

.discordServerBtn {
background:#ff5c00;
width:25rem;
height:5rem;
font-size: 50px;
}