@import "../../common/trending-streams/trending-streams.component.scss";

.player-details-desc {
    .sub-title {
        display: block;
        color: var(--mainColor);
        letter-spacing: 1px;
        margin-bottom: 12px;
        font: {
            size: 18px;
            weight: 600;
        };
    }
    h3 {
        text-transform: uppercase;
        margin-bottom: 8px;
        letter-spacing: 2px;
        font: {
            size: 40px;
            weight: 700;
        };
    }
    .player-meta {
        padding-left: 0;
        list-style-type: none;
        margin: {
            top: 15px;
            bottom: 0;
        };
        li {
            display: inline-block;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #c2c0c0;
            padding-left: 62px;
            color: var(--mainColor);
            margin: {
                right: 40px;
                top: 20px;
            };
            font: {
                weight: 600;
                size: 16px;
            };
            .icon {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: var(--whiteColor);
                line-height: 1;
                font: {
                    weight: 500;
                    size: 45px;
                };
            }
            span {
                display: block;
                margin-bottom: 0;
                color: var(--whiteColor);
                font: {
                    size: 32px;
                    weight: 700;
                };
            }
            .social {
                margin: {
                    top: 5px;
                    left: -8px;
                };
                a {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 25px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .streams-list {
        margin-top: 60px;

        h3 {
            margin-bottom: 20px;
        }
        .single-live-stream-item {
            .content {
                h3 {
                    margin-bottom: 0;
                }
            }
        }
    }
    .partner-list {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 767px) {

    .player-details-desc {
        .sub-title {
            font-size: 15px;
        }
        h3 {
            font-size: 25px;
        }
        .player-meta {
            li {
                padding-left: 45px;
                margin-right: 20px;
                font-size: 15px;

                .icon {
                    font-size: 30px;
                }
                span {
                    font-size: 20px;
                }
                .social {
                    a {
                        margin-right: 8px;
                        font-size: 18px;
                    }
                }
            }
        }
        .player-list {
            margin-top: 35px;
        }
        .streams-list {
            margin-top: 35px;
        }
        .partner-list {
            margin-top: 35px;
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}
@media only screen and (min-width: 1550px) {

}