.border{
    // border-color: #ff6e30 !important;
    border-bottom-color: #ff6e30 !important;
    border-top-color:  #ff6e30 !important;
    border-left-color: transparent !important;
    border-right-color:transparent !important ;
    color: #fd986d;

}
.text-color{
    color: #ff6e30;
}
.border2{
border-color: #ff6e30 !important;
}