<div class="ptb-100">
    <app-nav-bar> </app-nav-bar>
</div>
<section>
<div class="container ptb-100">
    <div class="section-title">
        <h2>Requests</h2>
    </div>

    <div class="col-lg-12 col-md-12 ">
        <div class="products-details-tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
       
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#requests"
                        type="button" role="tab" aria-controls="requests" aria-selected="true">
                    </button>
                </li>
            </ul>

            <div class="tab-content card bg-transparent border" id="myTabContent">
        

                <div class="tab-pane fade show active" id="requests" role="tabpanel">

                    <div class="products-review-comments">
                        <div class="user-review" *ngFor="let sub of subscribers; let i = index">
                            <img src={{sub.alldata[0].profile_pic}} alt="image">
                            <div class="review-rating">
                                <span class="d-inline-block">{{sub.alldata[0].username}}</span>
                            </div>
                            <div class="d-flex ">
                                <div class="box1">
                                    <span class="d-block sub-comment">Country</span>
                                    <p>{{sub.alldata[0].country}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">KDA</span>
                                    <p>{{sub.alldata[0].kd}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Kills</span>
                                    <p>{{sub.alldata[0].kills}}</p>
                                </div>
                                <div class="box1">
                                    <span class="d-block sub-comment">Platform</span>
                                    <p>{{sub.alldata[0].platform}}</p>
                                </div>
                                <div class="px-2">
                                    <button type="submit" class="default-btn" (click)="approved(sub._id,sub.pro,sub.subscriber)" >Accept</button>

                                </div>
                                <div class="">
                                    <button type="submit" class="default-btn" (click)="rejected(sub._id)">Reject</button>

                                </div>
                            </div>
                        </div>
            
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</section>
<footer class="footer-area">
    <app-new-footer></app-new-footer>
</footer>