<div class="row align-items-center">
    <div class="col-6"> 
        <button class="btn-ggera-primary" (click)="proRequestHandler()">Make Me PRO</button>
    </div>
    <div class="col-6"> 
        <button class="btn-ggera-outline" routerLink="/">Cancel</button>
    </div>
</div>
<div class="stepper">

    <h1 class="heading">Your Country</h1>
    <div class="content">
        <p>
            We will manually verify your request, once you have send us your game tracker
        </p>
        <div class="drop-down">
            Cuba
        </div>
    </div>
</div>