<div class="ptb-100">
    <app-nav-bar> </app-nav-bar>
</div>

<div class="container pt-5 ">
    <div class="row">
        <h1 class="display-1">Settings</h1>
    </div>
    <div class="row borColor p-1">
        <p class="pt-5 pl-5" style="font-size: 2rem; font-weight: bold;" >
            <i class="fa fa-exclamation-circle" style="color:#ff5100"aria-hidden="true"></i>
            To start playing:
        </p>
        <p class="startplay-element">
            1. Enter your name.
        </p>
        <p class="startplay-element">
            2. Choose preferred communication channel.
        </p>
        <p class="startplay-element">
            3. Enter your phone number.
        </p>
        <p class="startplay-element">
            4. Connect your discord.
        </p>
        <p class="startplay-element">
            5. Enter your account.
        </p>
        <p class="startplay-element">
            6. Check your country settings.
        </p>
        <p class="startplay-element">
            7. Check your platform settings.
        </p>
        <p class="startplay-element pb-5">
            8. Check your server settings.
        </p>
    </div>
    <div class="row pt-3">
        <div class="col-md-4  text-center">
            <h1>Personal Info</h1>
        </div>
        <div class="col-md-4  text-center">
            <h1>Game Accounts</h1>
        </div>
        <div class="col-md-4  text-center">
            <h1>Payments</h1>
        </div>
    </div>
    <div class="row borColor p-1">
        <p class="pt-5 pl-5" style="font-size: 2rem; font-weight: bold;" >
           Contact Info
        </p>
        <p class="pl-5" style="font-size: 2rem; font-weight: bold;" >
           Your discord
        </p>
        <div class="col pl-5">
            <button class="discordBtn">Connect Discord</button>
        </div>
        <p class="pl-5 pt-2" style="font-size: 1.5rem;" >
            Your name
        </p>
        <div class="col pl-2">
            <input style = "border:2px solid #ff4800;  background-color : black; color:white;" type="text" placeholder="Enter your name"/>
        </div>
        <span>This field cannot not be empty</span>
        <p class="pl-5 pt-2" style="font-size: 1.5rem;" >
            Your phone number
        </p>
        <div class="col pl-2">
            <input style = "border:2px solid #ff4800;  background-color : black; color:white;" type="text" placeholder="Enter your phone number"/>
        </div>
        <span>This field cannot not be empty</span>
        <p class="pl-5" style="font-size: 1.5rem;" >
            Your preferred communiction channel ?
         </p>
         <div class="col pl-5">
             <button class="discordBtn">Whatsapp</button>
             <button class="discordBtn">Discord</button>
         </div>
         
         <div class="row ">
            <div class="col pt-4 pb-5">
             <button class="submitBtn">Save</button>
            </div>
         </div>
    </div>
    <br>
    <div class="row borColor p-5">
        <p class="pt-5 pl-5" style="font-size: 2rem; font-weight: bold;" >
           Promo Code
        </p>
        
        <p class="pl-5" style="font-size: 1.5rem;" >
           Promo code or nickname  of the Pro who has invited you.
         </p>
        <p class="" style="font-size: 1.5rem;" >
            You won't be able to change it later.
        </p>
         <div class="row">
            <div class="col-6">
                <input style = "border:2px solid #ff4800;  background-color : black; color:white; height:75px;" type="text" placeholder="Enter promo code"/>
            </div>
            <div class="col-6">
                <button class="discordBtn">Save</button>
            </div>
         </div>
    </div>
    <div class="row borColor p-5">
        <p class="pt-5 pl-5" style="font-size: 2rem; font-weight: bold;" >
           Socials
        </p>
        
        <p class="pl-5" style="font-size: 1.5rem;" >
           Links of your social networks
        </p>
        <div class="col-md-12">
            <p style="font-size: 1.5rem;">Facebook</p>
        </div>
        <div class="col-md-6">
            <input style = "border:2px solid #ff4800;  background-color : black; color:white; height:75px; width:500px;" type="text"/>
        </div>
        <div class="col-md-6">
            <i class='fab fa-facebook fa-lg iconSocial'></i><br/>
        </div>
        <div class="col-md-12 pt-3">
            <p style="font-size: 1.5rem;">Instagram</p>
        </div>
        <div class="col-md-6">
            <input style = "border:2px solid #ff4800;  background-color : black; color:white; height:75px; width:500px;" type="text"/>
        </div>
        <div class="col-md-6">
            <i class='fab fa-instagram fa-lg iconSocial'></i><br/>
        </div>
        <div class="col-md-12 pt-3">
            <p style="font-size: 1.5rem;">Twitter</p>
        </div>
        <div class="col-md-6">
            <input style = "border:2px solid #ff4800;  background-color : black; color:white; height:75px; width:500px;" type="text"/>
        </div>
        <div class="col-md-6">
            <i class='fab fa-twitter fa-lg iconSocial'></i><br/>
        </div>
        <div class="col-md-12 pt-3">
            <p style="font-size: 1.5rem;">TikTok</p>
        </div>
        <div class="col-md-6">
            <input style = "border:2px solid #ff4800;  background-color : black; color:white; height:75px; width:500px;" type="text"/>
        </div>
        <div class="col-md-6">
            <i class='fab fa-tiktok fa-lg iconSocial'></i><br/>
        </div>
        <div class="row">
            <div class="col-6 pt-3">
                <button class="discordBtn">Save</button>
            </div>
         </div>
        
    </div>
    <div class="row ">
        <div class="col pt-4 text-center pb-5">
         <button class="submitBtn">Logout</button>
        </div>
     </div>
</div>

<footer class="footer-area">
    <app-new-footer></app-new-footer>
</footer>