.borColor {
    border-style: solid;
    border-color: rgb(238, 63, 0);
}
.startplay-element {
    font-size: 1rem;
    margin-left: 25px;
}

.discordBtn {
    background: #ee3f00;
    width:20rem;
    height:5rem;
    font-size: 50px;
}
.submitBtn{
    background: #f68c28;
    width:40rem;
    height:5rem;
    font-size: 50px;
}
.iconSocial {
    font-size: 70px;
    margin-top: 30px;
}