<div class="pb-100">
    <app-nav-bar> </app-nav-bar>
</div>

<div class="container pt-100">
    <div class="d-flex justify-content-center">
        <div class="col-lg-10">
<h1 style="color: #ff6e30;">REQUEST AND FEEDBACK</h1>
        </div>
        
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-lg-10 pt-5">
            <p>Comments</p>
            <form action="">
                <div class="form-group">
                    <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                  </div>
            </form>

        </div>
     
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-lg-10 pt-5">
            <p>Star Rating</p>
           
                <div class="d-flex flex-row">
                   <div class="p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                   </div>
                   <div class="p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                   </div>
                   <div class="p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                   </div>
                   <div class="p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                   </div>
                   <div class="p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                      </svg>
                   </div>
                  </div>
           
            
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-lg-10 pt-5">
            <p>Review</p>
           
                <div class="card bg4 border">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-row">
                            <img src="../../../assets/img/feedback1.png" alt="" class="m-3" srcset="" style="width: 150px;">
                            <img src="../../../assets/img/feedback2.png" alt="" class="m-3" srcset="" style="width: 150px;">
                            <img src="../../../assets/img/feedback3.png" alt="" class="m-3" srcset="" style="width: 150px;">
                            <img src="../../../assets/img/feedback4.png" alt="" class="m-3" srcset="" style="width: 150px;">
                            <img src="../../../assets/img/feedback5.png" alt="" class="m-3" srcset="" style="width: 150px;">
                        </div>
                    </div>
                    
                 
                  </div>
         

        </div>
     
    </div>

   
   
</div>



<footer class="footer-area">
    <app-new-footer></app-new-footer>
</footer>